/*//////////////////////////////GENERALES////////////////////////////////////////////*/
/*01. ///GENERALES///*/
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    user-select: none;     
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 /*quita marco post link*/
*:focus{
    outline: none;
}
/*body de home - dash*/
body{
    background: #F9F9F9;
    display: block;  
    z-index: 110;  
    overflow: hidden;
}
#reloadIcon {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 3.5px;
    box-shadow: 1px 1px 2px 1px #D9D9D9;
    border: none;
    cursor: pointer;
    margin-left: 0%;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #D9D9D9;
  }
/*////////////////////////////////////////////**/
   
input[type='text'],
input[type='list'], 
input[type='button'] 
{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 3.5px;
    background-color: #F9F9F9;
    box-shadow: 1px 1px 2px 1px #D9D9D9;
    border: none;
    margin-left: 0%;
    border-radius: 5px;
    color: #2f2d29;
}

select{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 3.5px;
    background-color: #F9F9F9;
    box-shadow: 1px 1px 2px 1px #D9D9D9;
    border: none;
    margin-left: 0%;
    border-radius: 5px;
    color: #2f2d29;
}

input[type='text']:focus, 
input[type='list']:focus, 
select:focus
{
    box-shadow: inset 1px 1px 1px 1px  #0000D0 ;
}
#filtros{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 0%;
    box-shadow: 1px 1px 2px 1px #D9D9D9;
    border: 1px solid #a09e7d;
    margin-left: 0%;
    border-radius: 5px;
    text-align: center;
    color: #2f2d29;
    padding-left: 0%;
    background-color: #F9F9F9;

}
#buscarrisk{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 3.5px;

    box-shadow: 1px 1px 2px 1px #D9D9D9;
    border: none;
    cursor: pointer;
    margin-left: 0%;
    border-radius: 5px;

    background-color: #D9D9D9;
}


#buscarrisk:hover{
    background: linear-gradient(90deg, rgb(2, 4, 141) 0%, rgb(45, 93, 237) 64%);
    color: white;
}


#resetrisk{
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 3.5px;

    box-shadow: 1px 1px 2px 1px #D9D9D9;
    border: none;
    cursor: pointer;
    margin-left: 0%;
    border-radius: 5px;
  
    border-radius: 5px;
    background-color: #D9D9D9;
}



#resetrisk:hover,
#reloadIcon:hover
{
    background: #878787;
    color:white;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*//////////////////////////////////////////////////FORMULARIO//////////////////////////////////////////*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

#formrisk{
    display: block;
    position: absolute;
    top: 0%;
    left: 6%;
    width: 97%;
    height: 100%;
    /*
    background-color: #F9F9F9;
    box-shadow: 3px 3px 5px -2px #9b9393;
    */
    border-radius: 14px;
}
#fondoform{
    display: block;
    position: absolute;
    top: 5px;
    left: 5.7%;
    width: 21%;
    height: 80%;
}

#year{
    width: 48%;
}
#periodo{
    width: 50%;
}
#macro{
    width: 100%;
}




/*SLID*/
#movslid{
    position: absolute;
    top: 0px;
    border: 1px solid transparent;
    left: 106%;
    width: 2%;
    height: 100%;
}
#movslidR{
    position: absolute;
    top: 23px;
    border: 1px solid transparent;
    left: -14%;
    width: 3%;
    height: 100%;
    z-index: 1;
}
.botmov{
    position: relative;
    top: 1%;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    margin-top: 94%;
    background: linear-gradient(181deg, rgb(143, 142, 141) 0%, rgb(218, 216, 213) 64%);
    box-shadow: 0px 1px 3px 1px #8A8372;
    margin-left: 5.2%;
}

.tileslid{
    position: absolute;
    top: 2px;
    left: 24%;
    width: 1400%;
    font-size: 15px;
    text-align: center;
    color: #151719;
    z-index: -1;
    background-color: #F9F9F9;
    box-shadow: -1px 0px 3px 0px #9b9393;
    border-radius: 5px;
}

#botmov1:hover,
#botmov2:hover,
#botmov3:hover,
#botmov4:hover,
#botmov5:hover,
#botmov6:hover,
#botmov7:hover,
#botmov8:hover{
    background: linear-gradient(90deg, rgb(122, 115, 99) 0%, rgb(217, 206, 184) 90%);
}


#slidTit1{
    display: block;
    display:none;
}
#slidTit2{
    display: block;
    display:none;
}
#slidTit3{
    display: block;
    display:none;
}
#slidTit4{
    display: block;
    display:none;
}
#slidTit5{
    display: block;
    display:none;
}
#slidTit6{
    display: block;
    display:none;
}
#slidTit7{
    display: block;
    display:none;
}
#slidTit8{
    display: block;
    display:none;
}
/*//////////////////////////////////////////////////////////////////////*/

#form1{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    width: 100%;
}
#form2{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    display: none;
    width: 100%;
}

#form3{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    display: none;
    width: 100%;
}

#form4{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    display: none;
    width: 100%;
}

#form5{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    display: none;
    width: 100%;
}

#form6{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    display: none;
    width: 100%;
}

#form7{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    display: none;
    width: 100%;
}

#form8{
    display: block;
    position:absolute;
    top: 0%;
    left:0%;
    display: none;
    width: 100%;
}

